body
{
	padding:0;
    margin:0;
    font-family: Ramabhadra,Sans Serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}

#lista
{
	font-size: 26px;
}

}
#baner
{
	max-height: 150px;
	padding:0;
	margin:0;
}

.responsive {
    width: 100%;
    height: auto;
}
#responsive {
    width: 100%;
    height: auto;
}

/* Nawigacja */

.nav-container {
 height: 80px;
}
.nav-wrapper {
	max-width: 400px;
	margin: 0 auto;
}
.nav-wrapper1 {
	max-width: 270px;
	margin: 0 auto;
}
nav {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 40px;
	vertical-align: middle;
}
nav ul {
	display: flex;
	margin-left: 20px;
}
.nav-items li {
	list-style: none;
}


.nav-items li a {
	color: #000000;
	font-size: 24px;
	font-family: Squada One,Sans Serif;
	text-decoration: none;
}
.nav-kontakt {
	margin-left: 15px;
}
.home-btn {
width: 28px;
height: 28px;

}


/*wnetrze*/

label, input, textarea {
	display: block;


}

.header-container {
	height: calc(100vh - 190px);
	display: flex;
	align-items: center;
	position: relative;
}
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

 .wrapper p {
	font-family: Ramabhadra,Sans Serif;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 40px;
	text-align: justify;
	word-wrap: break-word;
	width: 770px;
	color: #FFFFFF;
}

	.wrapper p {
		margin-right: 80px;
	}
	.wrapper img {
	margin-left: 80px;
	}

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}
.car-container {
	margin: 20px;
}
.text-container{
	
position: sticky;
width: 1168px;
height: 209px;
left: 376px;
top: 226px;
}
.text-container2{
	
position: sticky;
width: 483px;
height: 0px;
left: 376px;
top: 150px;
}
.car-image {
	margin: 20px;
}


@media screen and (max-width:1500px) {
  .wrapper {
		flex-direction: column-reverse;
		justify-content: center;
  }
  .wrapper p {
		margin:0;
	}
	.wrapper img {
	margin:0;
	}
	.nav-container {
 	height: 40px;
	}
	}

/* photos */

.photo-container {
	margin-top: 70px;
	margin-left: 10%;
	max-width: 1500px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}
.photo {
	margin: 20px;
}
.photo-container img {
	border-radius: 20px;
}
.photo-container a:hover {
	transform: scale(1.08);
	transition: 1000ms;
}
.photo-container a:not( :hover ) {
	transform: scale(1.0);
	transition: 1000ms;
}
.photo-container figcaption{
	color: #000000;
	font-size: 24px;
	font-family: Ramabhadra,Sans Serif;
	text-align: center;
}
.photo-container a{
	text-decoration: none;
}

/* kontakt */
.text-container3{
	font-family: Ramabhadra,Sans Serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
color: white;
position: sticky;
width: 1168px;
height: 500px;
left: 376px;
top: 226px;
}

.text2-kontakt{
position: sticky;
width: 300px;
height: 50px;
left: 818px;
top: 1050px;
}

.footer {
	font-family: Questrial,Sans Serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}
.text-container3 p{
	font-family: Ramabhadra,Sans Serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 40px;
text-align: justify;
}
.text-container3 center{
	font-family: Ramabhadra,Sans Serif;
	color:white;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 40px;
text-align: center;
height: 50px;
}
.text-container3 justify{
	font-family: Ramabhadra,Sans Serif;
	color:white;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 40px;
text-align: justify;
margin-bottom: 20px;
}
.text-container3 label{
	font-family: Ramabhadra,Sans Serif;
	color:white;
font-style: normal;
font-weight: normal;
font-size: 20px;
}
.text-container3 input{
	width: 300px;
	background-color: #423E3E;
	color: white;
}
.text-container3 textarea{
	width: 300px;
	height: 200px;
	margin-bottom: 5px;
	background-color: #423E3E;
	color: white;
}
.text-container3 button{
	font-family: Ramabhadra,Sans Serif;
	font-size: 20px;
	height: 30px;
	width: 100px;
	border-radius: 20px;
	border-width: 3px;
	border-color: white;f
	transition-duration: 0.4s;
	background-color: #423E3E;
  	color: white;
  	cursor:pointer;
    overflow: hidden; 
}
.text-container3 button:hover{
  background-color: #FFFFFF;
  color: black;
}
.wrapper1 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}